Source: freevo
Section: devel
Priority: optional
Maintainer: Aubin Paul <debian@outlyer.org>
Build-Depends: debhelper (>= 4.1.60), python2.3-dev
Standards-Version: 3.5.2

Package: freevo
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python2.3-pygame, xmltv-util, libxmltv-perl, python2.3-xml, python2.3-imaging, python2.3-pylirc, python2.3-twisted, python2.3-mmpython, freevo-media, debconf, mplayer | xine-ui | fbxine
Recommends: lame, cdparanoia, msttcorefonts
Suggests: flac, vorbis-tools, fbset, matrox-tools
Description: A Python based PVR/DVR Framework for Music and Movies
 A Python-based PVR/DVR Framework and working system for music, movies
 Television, and more.

Package: freevo-media
Architecture: all
Depends: freevo
Description: Themes and non-application data for Freevo
 This package contains themes, fonts and other non-application data
 for Freevo. 
