Source: freevo
Section: devel
Priority: optional
Maintainer: Aubin Paul <debian@outlyer.org>
Build-Depends: debhelper (>= 4.1.60), python2.3-dev
Standards-Version: 3.5.2

Package: freevo
Architecture: all
Depends: ${python:Depends}, python2.3-pygame, xmltv-util, libxmltv-perl, python2.3-xml, python2.3-imaging, mplayer, mplayer-fonts, python2.3-pylirc, python2.3-twisted, python2.3-sqlite, python2.3-mmpython, python2.3-fchksum, cdparanoia
Recommends: fbset, matrox-tools, xine-ui, flac, vorbis-tools
Description: A Python based PVR/DVR Framework for Music and Movies
 A Python-based PVR/DVR Framework and working system for music, movies
 Television, and more.

