#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-python2.3 setup.py clean
	rm -f `find . | grep freevo.mo`
	rm -rf src/www/htdocs/help/wiki
	rm -f $(CURDIR)/src/util/distutils.pyc
	rm -f $(CURDIR)/src/util/__init__.pyc
	rm -f $(CURDIR)/src/version.pyc
	rm -f *.pyc
	rm -fr build
	rm -f Setup
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(CURDIR)/autogen.sh nodocs
	python2.3 setup.py install --no-compile --root=$(CURDIR)/debian/tmp
	# Clean up warnings
	rm $(CURDIR)/debian/tmp/usr/lib/python2.3/site-packages/freevo/plugins/mixer.py

	cat $(CURDIR)/debian/bsd-ioctl-remove.diff | patch -p0 -E
	# Move the files in to the data package
	mkdir -p $(CURDIR)/debian/freevo/usr/share/freevo/init/ || true
	cp $(CURDIR)/boot/webserver_init		       $(CURDIR)/debian/freevo/usr/share/freevo/init/
	cp $(CURDIR)/boot/recordserver_init		       $(CURDIR)/debian/freevo/usr/share/freevo/init/
	echo 'FREEVO_HOME="/usr/bin"'	>	$(CURDIR)/debian/freevo/etc/freevo/boot_config
    
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# We include all the documentation except:
# util (which is for building the docs from the source)
# fullinstall.txt (which is installation instructions)
# LGPL (which is in /usr/share/common-licenses/LGPL under Debian)
doclist = $(filter-out docs/util docs/fullinstall.txt docs/LGPL,$(wildcard docs/*))

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --autodest --sourcedir=debian/tmp
	dh_installdocs $(doclist)
	dh_installmenu
	dh_installchangelogs 
	dh_installdebconf
	dh_installinit --noscripts 
	dh_python
	dh_link
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
