#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	python2.3 setup.py build
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	mkdir `pwd`/Docs/howto
	-python2.3 setup.py clean
	rm -f `find . | grep freevo.mo`
	rm -rf `pwd`/Docs/howto 
	rm -rf src/www/htdocs/help/wiki
	rm -f *.pyc
	rm -fr build
	rm -f Setup
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	./autogen.sh nodocs
	mkdir Docs/howto || true	# Kludge to build without howto sgml
	python2.3 setup.py install --no-compile --root=`pwd`/debian/freevo
	# Move the files in to the data package
	mv `pwd`/debian/freevo/usr/share/freevo/fonts  `pwd`/debian/freevo-media/usr/share/freevo/
	mv `pwd`/debian/freevo/usr/share/freevo/icons  `pwd`/debian/freevo-media/usr/share/freevo/
	mv `pwd`/debian/freevo/usr/share/freevo/images `pwd`/debian/freevo-media/usr/share/freevo/
	mv `pwd`/debian/freevo/usr/share/freevo/skins  `pwd`/debian/freevo-media/usr/share/freevo/
	mkdir -p `pwd`/debian/freevo/usr/share/freevo/init/ || true
	cp `pwd`/boot/webserver_init		       `pwd`/debian/freevo/usr/share/freevo/init/
	cp `pwd`/boot/recordserver_init		       `pwd`/debian/freevo/usr/share/freevo/init/
	echo 'FREEVO_HOME="/usr/bin"'	>	`pwd`/debian/freevo/etc/freevo/
    
# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# We include all the documentation except:
# util (which is for building the docs from the source)
# fullinstall.txt (which is installation instructions)
# LGPL (which is in /usr/share/common-licenses/LGPL under Debian)
doclist = $(filter-out docs/util docs/fullinstall.txt docs/LGPL,$(wildcard docs/*))

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs $(doclist)
	dh_installmenu
	dh_installchangelogs 
	dh_python
	dh_link
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
