# xml_tv_be configuration file by den_RDC
# DO NOT CHANGE CHANNEL NAMES
#
# channels are identified (xmltv channel id) in freevo with their 
# channel name completly in lowercase, so no numbers anymore.
# An channel=1 means the channel will be fetched, likewise 
# channel=0 means the channel will be skipped when fetching

[settings]
days=3
[channels]
TV1=1
Ketnet=1
Canvas=1
VTM=1
Kanaal2=1
VT4=1
Vitaya=0
EVENTTV=0
Zones.tv=0
KanaalZ=0
NBC/NGC=0
Ned1=0
Ned2=0
Ned3=0
Net5=0
RTL4=0
RTL5=0
SBS6=0
VERONICA=0
TCM=0
CARTOONNETWORK=0
EUROSPORT=0
NICKELODEON=0
BVN-TV=0
CANAL+=0
RTBF1=0
RTBF2=0
RTL-TVI=0
CLUBRTL=0
TF1=0
FRANCE2=0
FRANCE3=0
TV5=0
ARTE=0
CANAL+FR=0
BBC1=0
BBC2=0
BBCWORLD=0
CNN=0
ITV-MERIDIAN=0
ARD=0
ZDF=0
WDR=0
SWR=0
RTL=0
MTV=0
TMF=1
JIMTV=1
TVE=0
RAIUNO=0
TRT=0
ATV=0
AVS=0
FOCUS=0
KANAAL3=0
RINGTV=0
ROBTV=0
RTV=0
TVBRUSSEL=0
TVLIMBURG=0
WTV=0
