#titlebar {
	background: #666699 url(../freevo/header.jpg) left no-repeat;
	height: 101px;
	color: #000;
}
						
#header {
	float:left;
	width:100%;
	background: #666699 url("../freevo/bg.gif") repeat-x bottom;
	font-size:93%;
	line-height:normal;
}
#header ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
#header li {
	float:left;
	background:url("../freevo/left.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 9px;
}
#header a {
	display:block;
	background:url("../freevo/right.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	text-decoration:none;
	font-weight:bold;
	border: none;
	color:#888;
}
#header a:hover {
	color:#333;
}
#header #current {
	background-image:url("../freevo/left_on.gif");
}
#header #current a {
	background-image:url("../freevo/right_on.gif");
	color:#333;
	padding-bottom:5px;
}

span.name { display: none; }